<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Products</h5>
    <p class="card-text">List of All Products</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addCategory"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Categories</h5>
    <p class="card-text">List of All Categories</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addCategory"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Brands</h5>
    <p class="card-text">List of All Brands</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addBrand"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Users</h5>
    <p class="card-text">List of All Users</p>
    <!-- <a type="button" class="btn btn-success" routerLink="/adminPanel/addCategory"> + Add</a> -->
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
