<div class="products mt-4">
  <div class="container">
    <a class="btn btn-outline-secondary mb-4" routerLink="/adminPanel/addProduct">Add New Product</a>
    <!-- Products Table -->
    <table class="table bg-light border border-primary-subtle border-4">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Brand</th>
          <th scope="col">ID</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let product of products">
          <td>{{ product.title }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product?.brand }}</td>
          <td>{{ product._id }}</td>
          <td>
            <img [src]="product.image" alt="Product Image" width="150" height="150" />
          </td>

          <td>
            <a class="btn btn-outline-warning mt-2" [routerLink]="['/products', product._id]">Edit</a>
          </td>
          <td>
            <button class="btn btn-outline-danger mt-2" (click)="deleteProduct(product._id)">Delete</button>
          </td>
          <td>
            <button class="btn btn-outline-primary mt-2" [routerLink]="['/productsDetails', product._id]">Show</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
