<div class="admin-sidebar">
  <div class="logo">
    <a class="" href="#">SoftTech</a>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/adminPanel">Dashboard</a>
      </li>
      <li>
        <a routerLink="productsDashboard">Products</a>
      </li>
      <li>
        <a routerLink="categoriesDashboard">Categories</a>
      </li>
      <li>
        <a routerLink="brandsDashboard">Brands</a>
      </li>
      <li>
        <a routerLink="usersDashboard">Users</a>
      </li>
      <li>
        <a routerLink="ordersDashboard">Orders</a>
      </li>
    </ul>
  </div>
</div>
