<div class="container-xl px-4 my-5">
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">

      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">


          <div *ngIf="currentuser?.image">
            <img
             [src]=" currentuser?.image || 'http://bootdey.com/img/Content/avatar/avatar1.png'"
              alt="Profile Picture"
              class="rounded-circle img-fluid my-3"
               style="width: 150px">
          </div>

          <div class="form-group">
            <input
              class="account-file-input my-3"
              type="file"
              id="imgInput"
              name="imgInput"
              (change)="onFileChange($event)"
            >
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <form #myForm="ngForm" (ngSubmit)="updateUserProfile()">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">User Name</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  id="nameInput"
                  name="nameInput"
                  [value]="currentuser?.name"
                >
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="email"
                  id="emailInput"
                  name="emailInput"
                  [value]="currentuser?.email"
                  disabled
                >
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="tel"  id="phoneInput"
                  name="phonenumber"
                  [value]="currentuser?.phone"
                  required
                >
              </div>
            </div>
              <br>
              <button type="submit" class="btn btn-primary" [disabled]="isSaving">Save Changes</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
