<div class="users mt-4">
  <div class="container">
    <table class="table bg-light">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th>{{ user._id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-outline-danger mx-1" (click)="deleteUser(user._id)">Delete User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
